
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/Vazir-Black-FD.eot');
	src: url('../fonts/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/Vazir-Black-FD.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/Vazir-Black-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/Vazir-Black-FD.ttf') format('truetype');
}
